if theme.mathjax && theme.mathjax.enable
    if theme.mathjax.per_page
        include ./mathjax.pug
    else
        if (page.mathjax || is_home())
            include ./mathjax.pug

if theme.katex && theme.katex.enable
    if theme.katex.per_page
        include ./katex.pug
    else
        if (page.katex || is_home())
            include ./katex.pug
