@import 'user'

$font-family = "Times New Roman", FangSong, STFangsong, sans-serif;

html,
body
  height 100%
  margin 0

body
  margin: 0;
  padding: 0;
  color: #494e52;
  line-height: 1.5;
  font-family: $font-family

a,
span,
.btn
  font-family: $font-family

// top menu
//------------------------------------------------
#page_header
  position: relative;
  border-bottom: 1px solid #f2f3f3;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

.header_wrap
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding: .8em 1em .5em;
  font-size: 1.25rem;

#blog_name
  display inline-block
  width auto
  vertical-align top

  a
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: #7a8288;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover
      color: black;

.menus_items
  display none

@media (min-width: 37.5em)
  .menus_items
    display inline-block
    list-style-type none
    margin 0
    clear both
    li
      display table-cell
      vertical-align middle
      a
        position: relative;
        display: block;
        margin: 0 1rem;
        padding: 0.5rem 0;
        color: #7a8288;
        text-decoration: none;
        &::before
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 4px;
          background: #bdc1c4;
          width: 100%;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
        &:hover
          color: #5c6266;
          &::before
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);


// page main
//------------------------------------------------
#page_main
  min-height: 72%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 2em;
  margin-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
  animation: intro 0.3s both;
  animation-delay: 0.35s;
  &::after
    clear: both;
    content: "";
    display: table;

.page article
  padding-left: .8em;
  h2
    font-size 1.8em
  h3
    font-size 1.4em
  p
    font-size 1.2em
  a
    color #494e52
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover
      color: #c62641;

  .highlight
    overflow: auto;
    margin: 0 0 1rem;
    padding: 0;
    background: #f8f8f8;
    color: #525252;
    font-size: 14px;
    line-height: 20px;

  .gutter pre
    padding-right: 0.8rem;
    padding-left: 0.7rem;
    background-color: #f8f8f8;
    color: #cfd8dc;
    text-align: right;

  code
    padding: 0.2rem 0.3rem;
    background: rgba(27,31,35,0.05);
    word-wrap: break-word;

@media screen and (min-width: 75em)
  #page_main
    max-width: 1200px;

@media (min-width: 37.5em)
  .page
    width: 82.5%;
    float: right;
    margin-right: 0;
    if hexo-config('box_shadow') && hexo-config('box_shadow.enable')
      -webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
      box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
    article
      padding 0 2em 2em;


// sidebar
//------------------------------------------------
.side-card
  clear: both;
  margin-bottom: 1em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  .card-wrap
    padding-left: 10px;
  img
    width: 100%;
  p,
  li
    font-size: .85em;
    line-height: 1.5;

.author-avatar
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;
  img
    width: 100%;
    max-width: 110px;
    border-radius: 50%;

.author-discrip
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1;
  h3
    margin: 0px;
  .author-bio
    font-size: .75em;
    margin: .3rem 0;

.author-links
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 10;
  cursor: pointer;
  li
    white-space: nowrap;
    margin-bottom: 0.5em;
  a
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: 1em;
    text-decoration: none;
  button
    margin-bottom: 0px;

.btn
  display: inline-block;
  margin-bottom: 0.25em;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  background-color: rgb(122, 130, 136);
  cursor: pointer;
  color: rgb(255, 255, 255) !important;
  padding: 0.6em 1em;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
  &:hover
    background-color: rgb(51, 51, 51);

.m-social-links
  background-color: rgb(255, 255, 255);
  color: rgb(122, 130, 136) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(189, 193, 196) !important;
  border-image: initial !important;
  &:hover
    color: rgb(255, 255, 255) !important;

.social-icons
  display: none;
  position: absolute;
  right: 0;
  width: 90px;
  margin-top: 15px;
  padding-top: 8px;
  padding-left: 10px;
  list-style-type: none;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fff;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  cursor: default;
  a
    font-size 1.3em
  li
    display: inline-block;
  .fa
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    width: 1.28571em;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover
      color: #c62641;

.is-open .social-icons::before
  display: block;
  content: "";
  position: absolute;
  top: -11px;
  left: calc(50% - 10px);
  width: 0px;
  z-index: 0;
  border-style: solid;
  border-width: 0px 10px 10px;
  border-color: rgb(242, 243, 243) transparent;

.is-open .social-icons::after
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  width: 0px;
  z-index: 1;
  border-style: solid;
  border-width: 0px 10px 10px;
  border-color: rgb(255, 255, 255) transparent;

.social-links
  display none
  list-style-type none
  cursor default
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  .fa
    color black
    &::before
      margin-right .4rem
    span:hover
      text-decoration: underline;

.cv-links
  color: #2070AB !important
  display: block;
  position: relative;
  font-size: 0.8em;
  margin-left: 3.2rem;
  i
    font-weight: 600;
    text-decoration: underline;
    &::before
      margin-right: .4rem

@media (min-width: 75em)
  .side-card
    padding-right: 0;

@media (min-width: 37.5em)
  .side-card
    width: 15.25424%;
    min-width: 165px;
    float: left;
    margin-right: 1.69492%;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    if hexo-config('box_shadow') && hexo-config('box_shadow.enable')
      -webkit-box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
      box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
    .card-wrap
      padding: 10px 10px 10px 17px;

  .sticky
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    &>*
      display: block;

  .author-avatar
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    img
      padding: 5px;
      border: 1px solid #f2f3f3;

  .author-discrip
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    color: black;
    .author-bio
      font-size: .85em
      margin-top: 8px;
      margin-bottom: 10px;

  .author-links
    display: block;

  .social-icons
    display: block;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;

  .m-social-links
    display none

  .social-links
    display block
    margin-top .5rem
    padding 0

  .cv-links
    margin: 0;

// footer
//------------------------------------------------
#page_footer
  clear: both;
  height: 100px
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  //margin-top: -100px;
  color: #9ba1a6;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: #f2f3f3;
  border-top: 1px solid #bdc1c4;
  a
    color: #9ba1a6;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover
      color: black;

.footer_wrap
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 2em;
  padding-left: 2.5em;
  font-size: .8rem;

@media (min-width: 75em)
  .footer_wrap
    max-width: 1200px;

@media (min-width: 37.5em)
  .footer_wrap
    padding: 0 1em 2em;

// mobile-nav
//------------------------------------------------
.nav-wrap
  position fixed
  bottom 220px
  right 0
  max-width 50px
  visibility hidden
  opacity 0
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  &.is-visible
    visibility visible
    opacity 1
    pointer-events auto

.nav
  height 30px
  width 30px

.site-nav
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: rgb(122, 130, 136);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0px 0.3rem;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: none;

.navicon
  position: relative;
  width: 18px;
  height: 3px;
  background: rgb(255, 255, 255);
  margin: auto;
  transition: all 0.3s ease 0s;
  &::before
    content: "";
    position: absolute;
    top: -8px;
    left: 0px;
    width: 18px;
    height: 3px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
  &::after
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0px;
    width: 18px;
    height: 3px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;

.nav-open .navicon
  background: transparent;
  &::before
    transform-origin: 50% 50%;
    top: 0px;
    left: -3px;
    width: 25px;
    transform: rotate3d(0, 0, 1, 45deg);
  &::after
    transform-origin: 50% 50%;
    top: 0px;
    left: -3px;
    width: 25px;
    transform: rotate3d(0, 0, 1, -45deg);

.nav_items
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 45px;
  top: -20px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(242, 243, 243);
  border-image: initial;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  list-style: none;
  transition: all ease-in-out 0.2s;
  li
    display: block;
    border-bottom: 1px solid rgb(242, 243, 243);
    a
      display: block;
      color: rgb(122, 130, 136);
      font-size: 1em;
      margin: 0px;
      padding: 10px 20px;
      text-decoration: none;
      transition: all 0.2s ease-in-out 0s;
      &:hover
        color: rgb(92, 98, 102);
        background: rgb(222, 224, 225);
  &::before
    content: "";
    position: absolute;
    top: 20px;
    right: -10px;
    width: 0px;
    display: block;
    z-index: 0;
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent white;
  &::after
    clear: both;
    content: "";
    display: table;

.nav-open .nav_items
  visibility visible
  opacity 1

.cd-top
  display block
  width auto
  height auto
  i
    display: block;
    margin-top: 3px;
    width: 30px;
    height: 30px;
    background-color: #7a8288;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 29px;
    cursor: pointer;


// scrollbar
//------------------------------------------------
::-webkit-scrollbar
  width: 12px;
  height: 8px;
  background-color: white;

::-webkit-scrollbar-track
  //border-radius: 10px;
  background-color: white;

::-webkit-scrollbar-thumb
  //border-radius: 10px;
  background-color: rgba(122, 130, 136, 0.4);